.card {
   position: fixed;
   border-radius: 10px;
   border: 2px solid #333;
   padding: 10px;
	user-select: none;
   background:#6f6f6f;
   color:#ddd;
   box-shadow: 0 0 20px 10px #333;
   z-index: -1;
}
.card .header{
   border-bottom: 2px solid #333;
   padding: 2px 5px;
   line-height: 2rem;
}

