.ReactModal__Overlay {
   opacity: 0;
   transition: opacity 200ms ease-in-out;
   z-index: 3;
}

.ReactModal__Overlay--after-open{
   opacity: 1;
}

.ReactModal__Overlay--before-close{
   opacity: 0;
}

/* width */
::-webkit-scrollbar {
   width: 15px;
   border-radius: 5px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   background: #888;
   box-sizing: initial;
   border-radius: 5px;
   
 }
 
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: #ddd;
   border-radius: 5px;
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #ccc;
 }

 
form{
  margin: 0 auto;
  width: 80%;
  font-size: 1.2rem;
}
form input{
  border: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: .5rem;
  width:100%;
  outline: none;
  border:2px solid transparent;
  transition: .3s;
}
form input:focus{
  border:2px solid #393939;

}

form button{
  margin-top: 2rem;
  display: block;
  height: 3rem;
  width: 10rem;
  border: none;
  background: #ddd;
  font-size: 1.3rem;
  font-weight: bolder;
  color: #6f6f6f;
  border-radius: 1.5rem;
  outline: none;
  cursor: pointer;
  border:2px solid transparent;
  transition: .3s;
}
form button:hover
,form button:focus{
  border:2px solid #393939;

}
form div{
  margin-bottom: 20px;
}

form input, form label{
  display: block;
  margin: 10px 0;
}